@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

img {
  height: 500px;
  width: 500px;
}

footer {
  position: absolute;
  bottom: 0.5rem;
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 1rem;
}

@media (width <= 600px) {
  img {
    height: 300px;
    width: auto;
  }
}
